.store__shop-cards-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    background-color: #F7F7F7;
}

.shop-cards__img-line {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.shop-cards__container-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 30%;
    font-family: "Inter", system-ui;
    font-weight: 700;
    color: #e44f3e;
}